<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.forum.dao.UserMapper">
    <!--
    1. 注意namespace表⽰命名空间，要与 UserMapper.xml中的namespace相同
    2. 统⼀⽤cn.iocoder.forum.dao.UserMapper, 也就是UserMapper的完全限定名(包
    名+类名)
    3. 不同的映射⽂件指定了相同的namespace后，定义的所有⽤id或name标识的结果集映射都可以
    在不同的⽂件中共享
    -->
    <!-- 接⽤⼾名查询⽤⼾信息 -->
    <select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from t_user
        deleteState = 0
        and
        where username = #{username,jdbcType=VARCHAR}
    </select>
</mapper>